#
#	synctool.conf
#

masterdir /usr/local/sara/dist/synctool
symlink_mode 0755
ignore_dotfiles no
ignore_dotdirs yes
ignore .svn

diff_cmd /usr/bin/diff -u
ssh_cmd /usr/bin/ssh -o ConnectTimeout=10 -q
rsync_cmd /usr/bin/rsync -ar --delete -e 'ssh -o ConnectTimeout=10 -q'
synctool_cmd /usr/sara/bin/synctool.py -c /var/lib/synctool/suse10/synctool.conf
num_proc 64

host p1 teras       interface:p1-mgt
host p4 teras batch interface:p4-mgt
host p5 teras batch interface:p5-mgt
host p6 teras batch interface:p6-mgt
host p7 teras batch interface:p7-mgt

ignore_host p9 any_arguments_here_are_ignored teras batch
ignore_group test test2

on_update	/etc/jlimits.in					/usr/etc/genlimits -i /etc/jlimits.in -l
on_update	/etc/inetd.conf					hup_daemon.sh /usr/etc/inetd
on_update	/etc/syslog.conf				hup_daemon.sh /usr/etc/syslogd
on_update	/var/spool/cron/crontabs/root	hup_daemon.sh /sbin/cron
on_update	/etc/ntpd.conf					/etc/init.d/ntpd stop ; /etc/init.d/ntpd start

# always_run /bin/date

# EOB

