#
#	synctool.conf
#

masterdir   /var/lib/synctool

#prefix      /opt/synctool
#tempdir	 /tmp/synctool

# use mode 0777 on Linux
#symlink_mode 0777
# use mode 0755 on most other Unix platforms
symlink_mode 0755

# all files in the repository must have a group extension
#require_extension yes

# make backup copies named *.saved
#backup_copies yes

# ignore all files beginning with a dot (like .profile, .bashrc, ...)
#ignore_dotfiles no

# ignore all directories beginning with a dot (like .git, .svn, ...)
#ignore_dotdirs no

# ignore specific files/directories
ignore .svn
ignore .gitignore
ignore .*.swp

# log to file
logfile /var/log/synctool.log

# configure external commands that synctool uses
diff_cmd diff -u
#ping_cmd fping -t 500
ping_cmd ping -q -c 1 -t 1
ssh_cmd ssh -o ConnectTimeout=10 -x -q
scp_cmd scp -o ConnectTimeout=10 -p

# synctool depends on rsync, but this command is configurable
# so that you can do things like:
#
#  rsync_cmd rsync -ar --dry-run -vv
#
# synctool-master automatically appends another option:
#  --filter=/tmp/synctool/synctool-tempfile
#
rsync_cmd rsync -ar --numeric-ids --delete --delete-excluded -e 'ssh -o ConnectTimeout=10 -x -q' -q

synctool_cmd $prefix/sbin/synctool_client.py -c $masterdir/client.conf
pkg_cmd $prefix/sbin/synctool_pkg.py -c $masterdir/client.conf

# Force the package manager for synctool-pkg / dsh-pkg to use
# If you don't configure one, synctool-pkg will detect one
# (this is usually OK)
#
# If you do not want to detect it, choose one of the supported
# package managers.
#
# Note: Multi-platform setups
# It makes no sense to force a single package manager onto a heterogeneous
# cluster. If you run a multi-platform setup and need to force
# the package_manager, solve it with a local include, like:
#  include /etc/synctool_local.conf
# You can still override this setting from the command-line when invoking
# synctool-pkg.
#
#package_manager apt-get
#package_manager yum
#package_manager zypper
#package_manager pacman
#package_manager brew
#package_manager bsdpkg

# max amount of parallel processes that synctool uses on the master node
#num_proc 16

# display full paths or just '$masterdir/overlay/...'
#full_path no

# show terse output with shortened paths?
# shortened paths look like '//overlay/all/.../sshd_config._all'
#terse no

# colorize output? Note that colors only work for 'terse' output!
#colorize yes

# colorize the full line of output (yes) or just one word (no) ?
#colorize_full_line no

# use bright/bold attribute?
#colorize_bright yes

# specify colors
# valid values are: black, darkgray, red, green, yellow, blue,
# magenta, cyan, white, bold, default
# 'default' means that no color is used
#color_info   default
#color_warn   magenta
#color_error  red
#color_fail   red
#color_sync   default
#color_link   cyan
#color_mkdir  blue
#color_rm     yellow
#color_chown  cyan
#color_chmod  cyan
#color_exec   green
#color_upload magenta
#color_new    default
#color_type   magenta
#color_dryrun default
#color_fixing default
#color_ok     default

# specify groups and nodes

# by default, synctool will run on these nodes
# You can specify a certain group or a list of groups/nodes
# 'none' will result in synctool not running at all
# This setting can be overridden by passing the nodes on the command-line
#default_nodeset all

# compound groups may be specified like this
group wn workernode batch
group test wn
group g1 batch test wn

# list all nodes and their groups
# the nodename is a logical name known only to synctool
# "ipaddress:" specifies the IP address where synctool connects to
#
# The optional 'hostname:' keyword may be used to tell synctool
# the hostname of the node. This is generally not needed, unless
# you ever decide to run synctool.py manually on the target node,
# in stand-alone mode.

# managing the masternode also with synctool is generally not a great idea
#node node0 master

node node1 fs sched aix    ipaddress:node1-mgmt hostname:myhost1.mydomain.com
node node2 login    debian ipaddress:node2-mgmt hostname:myhost2.mydomain.com
node node3 wn       debian ipaddress:node3-mgmt
node node4 wn       debian ipaddress:node4-mgmt
node node5 wn       centos ipaddress:node5-mgmt
node node6 wn       centos ipaddress:node6-mgmt
node node7 wn       centos ipaddress:node7-mgmt
node node8 test     sunos  ipaddress:node8-mgmt hostid:/etc/hostname.bnx0
node node9 batch    sunos  ipaddress:node9-mgmt hostid:/etc/hostname.bnx0

# ignore one or more nodes
ignore_node node0 node9

# ignore a number of groups
ignore_group test test2

# include a local synctool config file on the target node
#include /etc/synctool_local.conf

# EOB
