/*
	synctool_doc.css	WJ111

	synctool Copyright 2015 Walter de Jong <walter@heiho.net>

	synctool COMES WITH NO WARRANTY. synctool IS FREE SOFTWARE.
	synctool is distributed under terms described in the GNU General Public
	License.
*/

/* reset default browser CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #eee;
	color: #000;
	font: medium georgia, times, serif;
	line-height: 1.3;
}

div#header h1 {
	font: bold x-large verdana, geneva, helvetica, arial, sans-serif;
/*	text-transform: capitalize;	*/
	margin: 2em 0 .5em 0;
}

h1 {
	font: x-large verdana, geneva, helvetica, arial, sans-serif;
/*	text-transform: capitalize;	*/
	margin: 2em 0 .5em 0;
}

h2 {
	font: large verdana, geneva, helvetica, arial, sans-serif;
	margin-top: 1.5em;
	margin-bottom: 1ex;
}

p {
	margin: 1ex 0 1ex 0;
}

strong {
	font-family: helvetica, arial, sans-serif;
	font-style: bold;
	text-transform: uppercase;
}

em { font-style: italic; }

a {
	text-decoration: none;
}

a:link {
	color: #00e;
}

a:visited {
	color: #b0b;
}

ul,ol {
	padding: 1ex 1em 1em 1em;
	margin-left: 1em;
}

/* all text is put into a div class=page */
div#page {
	position: relative;
    width: 80%;

	height: auto !important;	/* real browsers */
	height: 100%;				/* IE6: treated as min-height*/
	min-height: 100%;			/* real browsers */

	margin: 0 auto;
	padding: 1em;
	background-color: #fff;
}

div#header {
	padding: 1em;
	background: #fff url("synctool_logo.jpg") 98% 10px no-repeat;
	border-bottom: dashed 3px #eee;
}

div#header p {
	text-align: center;
}

div#content {
	width: 80%;
	text-align: justify;
	padding: 1em 1em 5em;	/* bottom padding for footer */
}

div#footer {
	position: absolute;
	width: 100%;
	bottom: 0;				/* stick to bottom */
	padding: 0em 0em .5em;

	font: italic small georgia, times, serif;
}

pre {
	border: solid 1px #000;
	background-color: #eee;
	font: medium 'Andale Mono', Consolas, Monaco, monospace;
	padding: 1em;
	margin: 1ex 0 1em 0;
	line-height: 1.0;
}

blockquote {
	border: dashed 1px #aaa;
	background-color: #eee;
	padding: 1ex 1em 1ex 1em;
	margin: 1em 0 1em 0;
}

code {
	font: medium 'Andale Mono', Consolas, Monaco, monospace;
	word-break: keep-all;
	background-color: #eee;
}

.vtab {
	display: block;
	margin: 1em auto 1em auto;
	padding: .5em;
}

.line {
	border: dashed 2px #eee;
}

/* EOB */
/*
:vim:ts=4:sw=4
*/
